# ==============================
# Angular / Node
# ==============================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# ==============================
# Environment & Secrets
# ==============================
.env
application-local.properties
application-dev.properties

# ==============================
# IDEs
# ==============================
.vscode/
.idea/
*.iml
*.classpath
*.project
*.settings/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Build & Cache
# ==============================
.cache/
coverage/
