target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
*.jar
*.war
*.ear
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Other ###
uploads/
secrets.properties
application-local.properties
