<footer class="footer">
    <div class="footer-content">
        <div class="simple-footer-body">
            <div class="footer-logo">
                <img src="/assets/images/logo.png" alt="ShopSphere" class="logo-image-sm" />
                <span class="logo-text">ShopSphere</span>
            </div>



            <div class="footer-legal">
                <p>&copy; 2024 ShopSphere. All rights reserved.</p>
                <span class="separator">|</span>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</footer>